.btn {
  display: block;
  width: 100%;
  font-family: $font-basic;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $color-accent-text;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: $color-accent;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &--light {
    background-color: $color-basic-grey;
    font-size: 16px;
    color: $color-special-dark-grey;
  }

  &--light:hover {
    background-color: #ebebeb;
  }

  &--light:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
