.form {
  padding-bottom: 8px;
}

.form__wrapper {
  @include mobile-wrapper;
  padding-top: 26px;
  padding-bottom: 24px;

  &--no-pt {
    padding-top: 0;
  }

  &--no-pb {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    @include tablet-wrapper;
    padding-top: 57px;
    padding-bottom: 57px;

    &--no-pt {
      padding-top: 0;
    }

    &--no-pb {
      padding-bottom: 0;
    }

    &--submit {
      padding-top: 43px;
      padding-bottom: 63px;
    }
  }

  @media (min-width: $desktop-width) {
    @include desktop-wrapper;

    &--2columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--2columns .form__input-wrapper {
      width: 568px;
      padding-bottom: 0;
    }

    &--submit {
      padding-top: 51px;
      padding-bottom: 56px;
    }
  }
}

.form__bordered-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__bordered-wrapper .form__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    @include desktop-wrapper;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.form__container .form__wrapper {
  width: 568px;
  margin: 0;
  padding: 0;
}

.form__anons {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-right: 344px;
    padding-bottom: 66px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 240px;
  }
}

.form__filters-group {
  width: 100%;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  &--additional .form__wrapper {
    padding-top: 35px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 20px;

    &--square {
      margin-left: 40px;
      margin-right: 38px;
      padding-top: 24px;
      padding-right: 30px;
      padding-bottom: 24px;
      padding-left: 28px;
      border: 1px solid #e7e7e7;
    }

    &--additional .form__wrapper {
      padding-top: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    &--square {
      margin-top: 126px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 25px;
      padding-left: 28px;
      padding-bottom: 24px;
      padding-right: 25px;
    }

    &--additional .form__wrapper {
      padding-top: 31px;
    }
  }
}

.form__filters-group input[type="text"],
.form__filters-group input[type="email"],
.form__filters-group input[type="tel"],
.form__filters-group textarea {
  box-sizing: border-box;
}

.form__hr {
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 42px;
    width: 50%;
    height: 2px;
    background-color: $color-accent;
    z-index: -100;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 100%;
      top: 82px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 92px;
    }
  }
}

.form__input-wrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: baseline;
  padding-bottom: 13px;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 38px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form__input-wrapper svg {
  position: absolute;
  top: 14px;
  right: 12px;

  @media (min-width: $tablet-width) {
    & svg {
      top: 17px;
      right: 15px;
    }
  }
}

.form__label {
  padding-right: 12px;

  @media (min-width: $tablet-width) {
    padding-right: 17px;
  }
}

.form__input {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 9px;

  &--with-icon {
    padding-right: 35px;
  }

  &[placeholder] {
    font-family: $font-basic;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    border-color: #444444;
  }

  &--invalid {
    border-color: #ff8282;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;

    &[placeholder] {
      font-size: 20px;
    }
  }
}

.form__input:active + svg,
.form__input:focus + svg {
  fill: $color-accent;
}

.form__input--invalid + svg {
  fill: #ff8282;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px + 15px;

  @media (min-width: $tablet-width) {
    padding-left: 0;

    &--columns {
      padding-left: 40px;
      display: grid;
      grid-template-columns: 282px 282px;
      column-gap: 62px;
      row-gap: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--columns {
      grid-template-columns: 221px 221px 221px 221px;
      column-gap: 104px;
      padding-left: 0;
    }
  }
}

.form__option {
  padding-bottom: 25px;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 40px + 19px;
    padding-bottom: 10px;
    margin-bottom: 13px;

    &:last-of-type {
      padding-bottom: 10px;
      margin-bottom: 0;
    }
  }
}

.form__legend {
  display: block;

  @include mobile-wrapper;

  @media (min-width: $tablet-width) {
    @include tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    @include desktop-wrapper;
  }
}

.form__legend-text {
  display: inline-block;
  max-width: 190px;
  padding-top: 26px;
  padding-right: 11px;
  padding-bottom: 6px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: $color-bg-basic;

  &--no-pt {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    font-size: 36px;
    line-height: 36px;
    padding-top: 62px;
    padding-bottom: 19px;
    padding-right: 42px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding-top: 69px;
  }
}

.form__field-message {
  width: 280px;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  resize: none;

  &[placeholder] {
    font-family: $font-basic;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    border-color: #444444;
  }

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    width: 632px;
    height: 174px;
    padding-top: 16px;
    padding-left: 17px;

    &[placeholder] {
      font-size: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 1220px;
  }
}

.form__submit {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 282px 288px;
    column-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 17px;
    margin-left: 0;
    grid-template-columns: 568px 1fr;
    column-gap: 81px;
    align-items: baseline;
  }
}

.form__send {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.form__info-required {
  display: block;

  @include content-text(14px, 16px);

  text-align: center;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.form__radio {
  position: relative;

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: -45px;
    top: -4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $color-special-grey;
  }

  &:hover::after {
    box-shadow: 0 0 0 1px #bababa;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 16px;
      height: 16px;
      border: 11px solid #ffffff;
      left: -58px;
    }
  }
}

input[type="radio"]:checked + .form__radio::after {
  background-color: $color-accent;
}

input[type="radio"]:focus + .form__radio::after {
  opacity: 0.3;
}

.form__checkbox {
  position: relative;

  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: -2px;
    left: -45px;
    border: 1px solid $color-special-grey;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active::before {
    border-color: rgba(205, 205, 205, 0.3);
  }

  &::after {
    content: "";
    display: none;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 4px;
    left: -39px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-tick.svg");
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 38px;
      height: 38px;
      left: -59px;
    }

    &::after {
      top: 10px;
      left: -48px;
    }
  }
}

input[type="checkbox"]:checked + .form__checkbox::after {
  display: block;
}

input[type="checkbox"]:focus + .form__checkbox::before {
  border-color: rgba(205, 205, 205, 0.3);
}
