.logo__icon {
  &--header {
    width: 190px;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    padding-bottom: 4px;
  }
}

.logo__text--footer {
  width: 128px;
}
