.product {
  border-bottom: 1px solid $color-special-grey2;

  &:first-of-type {
    border-top: 1px solid $color-special-grey2;
  }
}

.product__wrapper {
  @include mobile-wrapper;
  padding-top: 19px;
  padding-bottom: 25px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}

.product__stats {
  @include content-text(12px, 16px);
  width: 100%;
}

.product__stat-value {
  text-align: right;
}

.product__btn {
  margin-top: 13px;
}
