.slider {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }
}

.slider__item {
  display: none;

  &--active {
    display: block;

    @media (min-width: $tablet-width) {
      width: 690px;
      height: 517px;
      margin: 0 auto;
    }
  }
}

.slider__item img {
  @media (min-width: $tablet-width) {
    width: 690x;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    height: 536px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.slider__toggle {
  width: 82px;
  font-family: $font-basic;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;

  &--prev {
    margin-left: 40px;
  }

  &--next {
    margin-right: 40px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted $color-basic;

    &--prev {
      margin-left: 70px;
    }

    &--next {
      margin-right: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    &--prev {
      margin-left: 79px;
    }

    &--next {
      margin-right: -13px;
    }
  }
}

.slider__tracker {
  width: 84px;
  height: 14px;
  border-radius: 5px;
  border: 1 px solid $color-special-grey;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }
}
