.title-h2 {
  font-size: 36px;
  line-height: 36px;
  color: $color-basic;
  font-weight: 400;
  margin: 0;

  &--promo {
    padding-bottom: 25px;
    color: $color-accent-text;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $color-basic;
    text-align: left;

    &--promo {
      padding-bottom: 41px;
    }
  }
}
