@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

/*Шрифты*/
/*Цвета*/
/*Breakpoints*/
/*2x*/
img {
  max-width: 100%;
  height: auto; }

a {
  color: #000000;
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.title-h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .title-h1 {
      font-size: 60px;
      line-height: 60px;
      padding-top: 50px;
      padding-bottom: 54px; } }
  @media (min-width: 1280px) {
    .title-h1 {
      padding-top: 67px; } }

.title-h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0; }
  .title-h2--promo {
    padding-bottom: 25px;
    color: #ffffff;
    text-align: center; }
  @media (min-width: 768px) {
    .title-h2 {
      font-size: 60px;
      line-height: 60px;
      color: #000000;
      text-align: left; }
      .title-h2--promo {
        padding-bottom: 41px; } }

.btn {
  display: block;
  width: 100%;
  font-family: "Oswald", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #68b738;
  border: none; }
  .btn:hover {
    background-color: #5eaa2f; }
  .btn:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  .btn--light {
    background-color: #f2f2f2;
    font-size: 16px;
    color: #444444; }
  .btn--light:hover {
    background-color: #ebebeb; }
  .btn--light:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3); }
  @media (min-width: 768px) {
    .btn {
      font-size: 16px;
      line-height: 20px;
      padding-top: 9px;
      padding-bottom: 10px; } }

@media (min-width: 768px) {
  .slider {
    width: 100%; } }

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .slider__list {
      padding-bottom: 18px; } }

.slider__item {
  display: none; }
  .slider__item--active {
    display: block; }
    @media (min-width: 768px) {
      .slider__item--active {
        width: 690px;
        height: 517px;
        margin: 0 auto; } }

@media (min-width: 768px) {
  .slider__item img {
    width: 690px;
    height: 517px; } }

@media (min-width: 1280px) {
  .slider__item img {
    height: 536px; } }

.slider__toggles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  @media (min-width: 768px) {
    .slider__toggles {
      justify-content: space-between; } }

.slider__toggle {
  width: 82px;
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer; }
  .slider__toggle--prev {
    margin-left: 40px; }
  .slider__toggle--next {
    margin-right: 40px; }
  @media (min-width: 768px) {
    .slider__toggle {
      width: auto;
      padding: 0;
      padding-bottom: 5px;
      font-size: 20px;
      border-bottom: 1px dotted #000000; }
      .slider__toggle--prev {
        margin-left: 70px; }
      .slider__toggle--next {
        margin-right: 70px; }
      .slider__toggle:hover {
        border-bottom: 1px solid #000000; }
      .slider__toggle:active, .slider__toggle:focus {
        border-bottom: 1px solid transparent; } }
  @media (min-width: 1280px) {
    .slider__toggle--prev {
      margin-left: 79px; }
    .slider__toggle--next {
      margin-right: -13px; } }

.slider__tracker {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 5px;
  border: 1 px solid #cdcdcd;
  background-color: #ffffff; }
  .slider__tracker::before {
    content: "";
    cursor: pointer;
    width: 35px;
    height: 6px;
    position: absolute;
    border-radius: 5px;
    background-color: #68b738; }
  .slider__tracker--prev::before {
    top: 4px;
    left: 5px; }
  .slider__tracker--next::before {
    top: 4px;
    right: 5px; }
  @media (min-width: 768px) {
    .slider__tracker {
      width: 428px;
      height: 6px;
      background-color: #dcdcdc; }
      .slider__tracker::before {
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
        top: -14px;
        left: 199px;
        box-shadow: 0 1px 5px #cdcdcd; }
      .slider__tracker:hover::before {
        box-shadow: 0 3px 10px #cdcdcd; }
      .slider__tracker:active::before, .slider__tracker:focus::before {
        border: 1px solid #68b738; }
      .slider__tracker::after {
        content: "";
        width: 8px;
        height: 8px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 212px;
        border-radius: 50%;
        background-color: #68b738; } }

.page {
  min-width: 320px;
  margin: 0;
  position: relative;
  font-family: "Oswald", arial, sans-serif;
  color: #000000;
  font-style: normal; }

.page-header {
  padding-top: 12px;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .page-header {
      padding-top: 24px;
      border: none; } }
  @media (min-width: 1280px) {
    .page-header {
      padding-top: 53px; } }

.page-header__wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .page-header__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 0;
      margin: 0 auto;
      border: none;
      display: grid;
      grid-template-columns: 174px 1fr;
      -moz-column-gap: 20px;
           column-gap: 20px; } }
  @media (min-width: 1280px) {
    .page-header__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      grid-template-columns: 202px 1fr; } }

.page-header__logo {
  display: block;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; }
  .page-header__logo:hover {
    opacity: 0.8; }
  .page-header__logo:active {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .page-header__logo {
      width: 174px;
      margin: 0;
      padding: 0; } }
  @media (min-width: 1280px) {
    .page-header__logo {
      width: 202px; } }

.logo__icon--header {
  width: 190px; }

@media (min-width: 768px) {
  .logo__icon {
    width: 174px;
    height: 52px;
    padding-bottom: 10px; } }

@media (min-width: 1280px) {
  .logo__icon {
    width: 202px;
    height: 59px;
    padding-bottom: 4px; } }

.logo__text--footer {
  width: 128px; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(0, 0, 0, 0.6); }

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.6), 0 16px 0 0 rgba(0, 0, 0, 0.6); }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__list {
    display: block; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__list {
    display: block;
    position: static; } }

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #000000; }

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none; }

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg); }

.main-nav__toggle {
  width: 40px;
  height: 35px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: 50%;
  margin-right: -148px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav__wrapper {
  padding-top: 10px; }

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .main-nav__list {
      display: none; } }
  @media (min-width: 768px) {
    .main-nav__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400; } }
  @media (min-width: 1280px) {
    .main-nav__list {
      font-size: 20px; } }

.main-nav__item {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6; }
  .main-nav__item:first-of-type {
    border-top: 1px solid #e6e6e6; }
  .main-nav__item:last-of-type {
    border-bottom: none; }
  @media (min-width: 768px) {
    .main-nav__item {
      border: none;
      padding: 0;
      margin-right: 35px; }
      .main-nav__item:first-of-type {
        border-top: none; }
      .main-nav__item:last-of-type {
        margin-right: 0; } }

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px; }
  .main-nav__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .main-nav__link {
      padding-top: 10px;
      padding-bottom: 6px; }
      .main-nav__link--active {
        border-bottom: 2px solid #68b738; } }
  @media (min-width: 1280px) {
    .main-nav__link {
      padding-bottom: 7px; }
      .main-nav__link--light {
        color: #ffffff; }
      .main-nav__link--light:hover {
        color: rgba(255, 255, 255, 0.6); }
      .main-nav__link--light:active {
        color: rgba(255, 255, 255, 0.3); }
      .main-nav__link--active.main-nav__link--light {
        border-bottom: 2px solid #ffffff; } }

.page-main {
  position: relative; }

.page-main__h-wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-main__h-wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1280px) {
    .page-main__h-wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px; } }

.page-main__section {
  padding-bottom: 22px; }

.promo {
  width: 100%;
  padding-top: 27px; }
  .promo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 305px;
    top: 0;
    z-index: -100;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #5eaa2f; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo::before {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto; } }
  @media (min-width: 768px) {
    .promo {
      padding-bottom: 0;
      padding-top: 32px; }
      .promo::before {
        display: none; } }
  @media (min-width: 1280px) {
    .promo {
      padding-bottom: 65px; }
      .promo::before {
        display: block;
        width: 50%;
        height: 699px;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-position: top left;
        background-color: #5eaa2f;
        left: 50%;
        top: -126px; } }
  @media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1280px) and (min-resolution: 144dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
    .promo::before {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto; } }

.promo__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) {
    .promo__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      display: flex;
      flex-direction: column; } }
  @media (min-width: 1280px) {
    .promo__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      min-height: 558px; } }

@media (min-width: 768px) {
  .promo__title {
    order: 1;
    padding-top: 16px;
    padding-right: 150px;
    padding-left: 87px; } }

@media (min-width: 1280px) {
  .promo__title {
    padding-top: 69px;
    padding-left: 80px;
    width: 450px; } }

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .promo__subtitle {
      order: 2;
      padding-left: 87px;
      color: #000000;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      margin-bottom: 49px; } }
  @media (min-width: 1280px) {
    .promo__subtitle {
      margin-bottom: 52px;
      padding-left: 80px; } }

@media (min-width: 768px) {
  .promo__img-wrapper {
    order: 4;
    height: 609px;
    margin-top: -83px;
    z-index: -50; } }

@media (min-width: 1280px) {
  .promo__img-wrapper {
    position: absolute;
    top: 71px;
    right: 0;
    width: 803px;
    height: 600px; } }

@media (min-width: 768px) {
  .promo__img {
    height: 609px; } }

@media (min-width: 1280px) {
  .promo__img {
    height: 500px; } }

@media (min-width: 768px) {
  .promo__btn-wrapper {
    order: 3;
    width: 244px;
    padding-left: 82px; } }

@media (min-width: 1280px) {
  .promo__btn-wrapper {
    padding-left: 80px; } }

@media (min-width: 768px) {
  .promo__btn {
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 16px; } }

.catalog-promo {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-bottom: 27px; }
  @media (min-width: 768px) {
    .catalog-promo {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 49px; } }
  @media (min-width: 1280px) {
    .catalog-promo {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 71px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.catalog-promo__item {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2; }
  .catalog-promo__item:last-of-type {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .catalog-promo__item {
      padding-top: 77px;
      padding-right: 262px;
      padding-bottom: 53px;
      padding-left: 53px;
      margin-bottom: 31px; } }
  @media (min-width: 1280px) {
    .catalog-promo__item {
      padding-right: 50px;
      padding-bottom: 57px;
      padding-left: 52px;
      margin-bottom: 0; } }

.catalog-promo__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding-top: 10px;
  padding-left: 69px;
  margin: 0; }
  .catalog-promo__title::before {
    content: "";
    width: 50px;
    height: 53px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #68b738;
    border-radius: 50%; }
  .catalog-promo__title::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 50px;
    top: 0;
    left: -9px;
    background-repeat: no-repeat;
    background-position: center; }
  .catalog-promo__title--slim::after {
    background-image: url("../img/icon-cat-slim.svg"); }
  .catalog-promo__title--pro::after {
    top: 2px;
    background-image: url("../img/icon-cat-pro.svg"); }
  @media (min-width: 768px) {
    .catalog-promo__title {
      padding-left: 0;
      padding-top: 0;
      font-size: 36px;
      line-height: 36px; }
      .catalog-promo__title::before {
        width: 200px;
        height: 200px;
        top: 15px;
        left: 395px; }
      .catalog-promo__title::after {
        width: 268px;
        height: 194px;
        left: 359px; }
      .catalog-promo__title--pro::after {
        top: 21px; } }
  @media (min-width: 1280px) {
    .catalog-promo__title {
      padding-left: 162px; }
      .catalog-promo__title::before {
        width: 100px;
        height: 100px;
        top: -30px;
        left: 0; }
      .catalog-promo__title::after {
        width: 134px;
        height: 97px;
        left: -17px;
        top: -35px; }
      .catalog-promo__title--pro::after {
        top: -30px; } }

.catalog-promo__anons {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin-top: 29px;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .catalog-promo__anons {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      border-bottom: none;
      margin-bottom: 25px;
      padding-right: 51px; } }
  @media (min-width: 1280px) {
    .catalog-promo__anons {
      margin-top: 73px;
      margin-bottom: 0;
      padding-right: 0;
      padding-bottom: 28px; } }

.catalog-promo__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 57px; }
  .catalog-promo__link::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    top: 7px;
    right: 8px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat; }
  .catalog-promo__link:hover::before {
    background-image: url("../img/icon-right-arrow-verylong.svg"); }
  .catalog-promo__link:active, .catalog-promo__link:active::before {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .catalog-promo__link {
      font-size: 20px;
      line-height: normal; }
      .catalog-promo__link::before {
        right: 0;
        top: 9px; } }
  @media (min-width: 1280px) {
    .catalog-promo__link {
      padding-right: 61px; } }

.how-it-works {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-bottom: 49px; }
  @media (min-width: 768px) {
    .how-it-works {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 10px; } }
  @media (min-width: 1280px) {
    .how-it-works {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 0; } }

.how-it-works__title {
  padding-bottom: 38px; }
  @media (min-width: 768px) {
    .how-it-works__title {
      padding-bottom: 32px; } }

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .how-it-works__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 58px;
           column-gap: 58px;
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1280px) {
    .how-it-works__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-column-gap: 79px;
           column-gap: 79px; } }

.how-it-works__item {
  padding-left: 80px;
  padding-bottom: 26px;
  position: relative; }
  .how-it-works__item:last-of-type {
    padding-bottom: 0; }
  .how-it-works__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center; }
  .how-it-works__item--nutrition::before {
    background-image: url("../img/advantage-leaf@1x.png"); }
  .how-it-works__item--powder::before {
    background-image: url("../img/advantage-powder@1x.png"); }
  .how-it-works__item--dining::before {
    background-image: url("../img/advantage-dining@1x.png"); }
  .how-it-works__item--clock::before {
    background-image: url("../img/advantage-clock@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .how-it-works__item--nutrition::before {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 60px 60px; }
    .how-it-works__item--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 60px 60px; }
    .how-it-works__item--dining::before {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 60px 60px; }
    .how-it-works__item--clock::before {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 60px 60px; } }
  @media (min-width: 768px) {
    .how-it-works__item {
      min-height: 129px;
      padding: 0;
      padding-top: 151px;
      padding-right: 80px;
      margin-bottom: 37px; }
      .how-it-works__item::before {
        top: 40px;
        width: 80px;
        height: 80px; }
      .how-it-works__item::after {
        content: "1";
        position: absolute;
        top: 0;
        right: 97px;
        font-family: "Oswald", arial, sans-serif;
        font-size: 280px;
        line-height: 280px;
        color: #f2f2f2;
        z-index: -50; }
      .how-it-works__item:nth-child(2)::after {
        content: "2";
        right: 78px; }
      .how-it-works__item:nth-child(3)::after {
        content: "3";
        right: 78px; }
      .how-it-works__item:nth-child(4)::after {
        content: "4";
        right: 75px; } }
  @media (min-width: 1280px) {
    .how-it-works__item {
      padding-right: 5px;
      margin-bottom: 0; }
      .how-it-works__item::after {
        right: 17px; }
      .how-it-works__item:nth-child(2)::after {
        right: 0; }
      .how-it-works__item:nth-child(3)::after {
        right: 0; }
      .how-it-works__item:nth-child(4)::after {
        right: -4px; } }

.example {
  background-color: #eaeaea;
  position: relative; }
  @media (min-width: 768px) {
    .example {
      background-color: transparent;
      border-top: 1px solid #e6e6e6;
      padding-bottom: 69px; }
      .example::before {
        content: "";
        width: 100%;
        height: 462px;
        position: absolute;
        bottom: 0;
        z-index: -100;
        background-color: #eaeaea; } }
  @media (min-width: 1280px) {
    .example {
      border-top: none;
      padding-bottom: 0; }
      .example::before {
        top: 207px; } }

.example__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .example__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 43px;
      display: flex;
      flex-wrap: wrap; } }
  @media (min-width: 1280px) {
    .example__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 0;
      display: grid;
      grid-template-columns: 436px 636px;
      grid-template-rows: 277px 165px 110px 115px;
      -moz-column-gap: 134px;
           column-gap: 134px;
      grid-template-areas: "title slider" "anons slider" "stats-list slider" "costs slider"; } }

.example__title {
  padding-bottom: 33px; }
  @media (min-width: 768px) {
    .example__title {
      width: 100%;
      padding-bottom: 63px; } }
  @media (min-width: 1280px) {
    .example__title {
      padding-top: 69px;
      padding-bottom: 0;
      grid-area: title; } }

.example__anons {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding: 0;
  padding-bottom: 25px;
  margin: 0; }
  @media (min-width: 768px) {
    .example__anons {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 54px; } }
  @media (min-width: 1280px) {
    .example__anons {
      grid-area: anons;
      padding-bottom: 0; } }

.example__stats-list {
  margin: 0;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .example__stats-list {
      width: 50%;
      flex-grow: 1;
      justify-content: flex-start;
      margin-bottom: 84px; } }
  @media (min-width: 1280px) {
    .example__stats-list {
      grid-area: stats-list;
      margin-bottom: 39px; } }

.example__stats-item {
  position: relative; }
  @media (min-width: 768px) {
    .example__stats-item {
      margin-right: 39px; } }

.example__stats-number {
  display: block;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; }
  @media (min-width: 768px) {
    .example__stats-number {
      width: 162px;
      font-size: 30px;
      line-height: 37px;
      padding-top: 15px;
      padding-bottom: 20px; } }

.example__stats-descr {
  display: inline-block;
  width: 84px;
  margin: 0;
  background-color: #eaeaea;
  text-align: center;
  position: absolute;
  bottom: -13px;
  left: 20px;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444; }
  .example__stats-descr--weight {
    width: 82px; }
  @media (min-width: 768px) {
    .example__stats-descr {
      width: auto;
      padding-right: 5px;
      padding-left: 5px;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 14px;
      bottom: -5px; }
      .example__stats-descr--weight {
        left: 25px; }
      .example__stats-descr--time {
        left: 15px; } }
  @media (min-width: 1280px) {
    .example__stats-descr {
      background-color: #eaeaea;
      bottom: -7px; } }

.example__costs {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .example__costs {
      width: 180px;
      font-size: 20px;
      line-height: 29px;
      text-align: right;
      padding-top: 8px;
      padding-bottom: 0; } }
  @media (min-width: 1280px) {
    .example__costs {
      grid-area: costs;
      width: 100%;
      padding-top: 17px;
      text-align: left; } }

@media (min-width: 1280px) {
  .example__costs-sum {
    display: inline-block;
    padding-left: 59px; } }

.example__slider {
  margin-left: -20px;
  margin-right: -20px; }
  @media (min-width: 768px) {
    .example__slider {
      margin: 0; } }
  @media (min-width: 1280px) {
    .example__slider {
      grid-area: slider; } }

.example__toggles {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 12px; }
  @media (min-width: 768px) {
    .example__toggles {
      padding: 0; } }
  @media (min-width: 1280px) {
    .example__toggles {
      padding-top: 38px; } }

.contacts--dark-bg {
  background-color: #f2f2f2; }

@media (min-width: 1280px) {
  .contacts {
    position: absolute;
    left: 50%;
    bottom: 80px;
    margin-left: -611px;
    z-index: 100; }
    .contacts--dark-bg {
      background-color: transparent; } }

.contacts__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 69px;
      padding-bottom: 31px; } }
  @media (min-width: 1280px) {
    .contacts__wrapper {
      width: 455px;
      padding-left: 35px;
      padding-right: 80px;
      padding-top: 68px;
      padding-bottom: 54px;
      background-color: #ffffff; } }

.contacts__title {
  width: 50%;
  padding-right: 7px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .contacts__title {
      width: 175px;
      font-size: 20px;
      line-height: 23px;
      padding-left: 42px; } }
  @media (min-width: 1280px) {
    .contacts__title {
      padding-right: 0; } }

.contacts__address {
  width: 50%;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .contacts__address {
      width: 160px;
      text-align: right;
      font-size: 16px;
      line-height: 20px;
      padding-right: 42px; } }
  @media (min-width: 1280px) {
    .contacts__address {
      text-align: left;
      padding-right: 0; } }

@media (min-width: 768px) {
  .contacts__town {
    display: inline-block;
    padding-top: 20px; } }

.map {
  height: 362px;
  background-color: #eaeaea;
  overflow: hidden; }
  @media (min-width: 768px) {
    .map {
      height: 400px; } }

.map__ya {
  width: 100%;
  height: 362px; }
  @media (min-width: 768px) {
    .map__ya {
      height: 400px; } }

.map__wrapper {
  display: none;
  position: relative;
  width: 320px;
  margin: 0 auto; }
  .map__wrapper--nojs {
    display: block; }
  .map__wrapper::before {
    content: "";
    width: 57px;
    height: 53px;
    position: absolute;
    top: 142px;
    left: 129px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover; }
  @media (min-width: 768px) {
    .map__wrapper {
      width: 768px; }
      .map__wrapper::before {
        width: 113px;
        height: 106px;
        top: 147px;
        left: 322px; } }
  @media (min-width: 1280px) {
    .map__wrapper {
      width: 1440px; }
      .map__wrapper::before {
        z-index: 0;
        top: 132px;
        left: 897px; } }

@media (min-width: 768px) {
  .map__wrapper img {
    width: 100%; } }

@media (min-width: 1280px) {
  .map__wrapper img {
    z-index: -50; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
      padding-bottom: 61px; } }
  @media (min-width: 1280px) {
    .page-footer__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 65px;
      padding-bottom: 58px; } }

.page-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 27px; }
  .page-footer__logo:hover {
    opacity: 0.8; }
  .page-footer__logo:active {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .page-footer__logo {
      padding-bottom: 0;
      padding-right: 31px; } }

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 17px; }
  @media (min-width: 768px) {
    .page-footer__social {
      border: none;
      padding: 0; } }

.page-footer__copyright {
  padding-top: 21px; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      padding-top: 0; } }

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 22px;
  display: flex;
  justify-content: center; }

.social__item {
  margin-right: 30px; }
  .social__item:last-of-type {
    margin-right: 0; }
  @media (min-width: 768px) {
    .social__item {
      margin-right: 20px; } }

.social__item:hover svg {
  fill: #68b738; }

.social__item:active svg {
  fill: #68b738;
  opacity: 0.3; }

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .social__link {
      width: 30px;
      height: 30px; } }

@media (min-width: 768px) {
  .social__link--vk svg {
    width: 30px;
    height: 22px; } }

@media (min-width: 768px) {
  .social__link--inst svg {
    width: 23px;
    height: 23px; } }

@media (min-width: 768px) {
  .social__link--fb svg {
    width: 13px;
    height: 27px;
    margin-top: -3px; } }

.copyright {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center; }
  .copyright:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .copyright {
      margin-top: -8px; } }

.copyright:hover svg {
  fill: #68b738; }

@media (min-width: 768px) {
  .copyright span {
    padding-right: 24px; } }

@media (min-width: 768px) {
  .catalog {
    width: 708px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 324px 324px;
    -moz-column-gap: 60px;
         column-gap: 60px; } }

@media (min-width: 1280px) {
  .catalog {
    width: 1220px;
    padding-right: 30px;
    padding-left: 30px;
    grid-template-columns: 245px 245px 245px 245px;
    -moz-column-gap: 80px;
         column-gap: 80px; } }

.catalog__more {
  border-bottom: 1px solid #ebebeb; }
  @media (min-width: 768px) {
    .catalog__more {
      border: none; } }

.catalog__more-wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
  padding-top: 78px;
  padding-bottom: 24px;
  text-align: center; }
  .catalog__more-wrapper::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -16px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center; }
  @media (min-width: 768px) {
    .catalog__more-wrapper {
      width: auto;
      margin-top: 78px;
      margin-bottom: 59px;
      padding-top: 162px;
      padding-right: 36.5px;
      padding-left: 36.5px;
      padding-bottom: 36px;
      border: 2px solid #f2f2f2; }
      .catalog__more-wrapper::before {
        width: 60px;
        height: 60px;
        margin-left: -29px;
        top: 58px;
        background-image: url("../img/icon-plus.svg"); } }

.catalog__more-subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .catalog__more-subtitle {
      font-size: 20px;
      line-height: 22px; } }

.catalog__more-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 21px; }
  @media (min-width: 768px) {
    .catalog__more-text {
      font-size: 16px;
      line-height: 18px;
      padding-top: 21px;
      padding-bottom: 83px; } }

.product {
  border-bottom: 1px solid #ebebeb; }
  .product:first-of-type {
    border-top: 1px solid #ebebeb; }
  @media (min-width: 768px) {
    .product {
      border: none; }
      .product:first-of-type {
        border: none; } }

.product__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
  padding-top: 19px;
  padding-bottom: 24px; }
  @media (min-width: 768px) {
    .product__wrapper {
      width: auto;
      margin: 0;
      margin-top: 78px;
      margin-bottom: 62px;
      padding-top: 161px;
      padding-right: 36.5px;
      padding-left: 36.5px;
      padding-bottom: 40px;
      background-color: #f2f2f2;
      position: relative; } }
  @media (min-width: 1280px) {
    .product__wrapper {
      margin-top: 80px;
      margin-bottom: 62px; } }

.product__img-wrapper {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0; }
  @media (min-width: 768px) {
    .product__img-wrapper {
      min-height: 206px;
      left: 0;
      top: -75px; } }
  @media (min-width: 1280px) {
    .product__img-wrapper {
      top: -80px; } }

@media (min-width: 768px) {
  .product__img-wrapper img {
    width: 100%;
    vertical-align: bottom; } }

.product__title {
  display: block;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 13px;
  padding-left: 140px; }
  @media (min-width: 768px) {
    .product__title {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      padding-bottom: 17px;
      padding-left: 0; } }

@media (min-width: 768px) {
  .product__title-weight {
    display: block; } }

.product__stats {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  width: 50%;
  margin-left: 50%; }
  @media (min-width: 768px) {
    .product__stats {
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 16px;
      border-collapse: collapse; } }

.product__stat--price {
  text-transform: uppercase; }

.product__stat--value {
  text-align: right;
  min-width: 50px; }

@media (min-width: 768px) {
  .product__stat {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd; } }

.product__btn {
  width: 100%;
  margin-top: 22px; }
  @media (min-width: 768px) {
    .product__btn {
      margin-top: 33px; } }

.add-catalog {
  position: relative;
  padding-bottom: 0; }
  .add-catalog::before {
    content: "";
    position: absolute;
    right: 0;
    top: 21px;
    width: 50%;
    height: 2px;
    background-color: #68b738;
    z-index: -100; }
  @media (min-width: 768px) {
    .add-catalog::before {
      width: 100%;
      top: 22px; } }
  @media (min-width: 1280px) {
    .add-catalog::before {
      top: 28px; } }

.add-catalog__wrapper {
  padding-top: 6px; }
  @media (min-width: 768px) {
    .add-catalog__wrapper {
      padding-top: 0; } }
  @media (min-width: 1280px) {
    .add-catalog__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px;
      margin: 0 auto;
      padding-bottom: 86px;
      display: grid;
      grid-template-columns: 896px 245px;
      -moz-column-gap: 79px;
           column-gap: 79px; } }

.add-catalog__items-wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .add-catalog__items-wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1280px) {
    .add-catalog__items-wrapper {
      width: 100%;
      padding: 0;
      margin: 0; } }

.add-catalog__title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-right: 22px;
  padding-bottom: 34px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .add-catalog__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 37px;
      padding-right: 37px;
      padding-bottom: 76px; } }
  @media (min-width: 1280px) {
    .add-catalog__title {
      padding-top: 5px;
      padding-left: 40px;
      margin-left: -40px;
      padding-bottom: 79px; } }

.add-catalog__present {
  padding-top: 39px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .add-catalog__present {
      padding-top: 69px;
      padding-bottom: 76px; } }

.add-product {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 16px; }
  .add-product:first-of-type {
    border-top: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .add-product {
      padding-top: 26px;
      padding-right: 37px;
      padding-bottom: 28px;
      padding-left: 38px;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd; } }
  @media (min-width: 1280px) {
    .add-product {
      border-left: none;
      border-right: none;
      padding-top: 15px;
      padding-right: 0;
      padding-bottom: 16px;
      padding-left: 0;
      flex-wrap: nowrap;
      align-items: center; } }

.add-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 12px; }
  @media (min-width: 768px) {
    .add-product__title {
      width: 50%;
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 13px; } }
  @media (min-width: 1280px) {
    .add-product__title {
      width: 36%;
      padding-bottom: 0; } }

.add-product__stats {
  width: 100%;
  border-collapse: collapse; }
  @media (min-width: 768px) {
    .add-product__stats {
      width: 50%; } }
  @media (min-width: 1280px) {
    .add-product__stats {
      width: 286px; } }

.add-product__stat,
.add-product__price {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444; }
  @media (min-width: 768px) {
    .add-product__stat,
    .add-product__price {
      font-size: 16px;
      line-height: 20px; } }

@media (min-width: 768px) {
  .add-product__stat {
    text-align: right; } }

@media (min-width: 1280px) {
  .add-product__stat {
    text-align: left; } }

.add-product__price {
  text-align: right;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .add-product__price {
      width: 90px; } }

.add-product__btn {
  margin-top: 15px; }
  @media (min-width: 768px) {
    .add-product__btn {
      width: 100%;
      margin-top: 12px; } }
  @media (min-width: 1280px) {
    .add-product__btn {
      width: 244px;
      margin-top: 0;
      margin-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px; } }

.present {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative; }
  .present::before {
    content: "";
    width: 56px;
    height: 80px;
    position: absolute;
    top: 103px;
    left: 50%;
    margin-left: -27px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-gift.svg"); }
  @media (min-width: 768px) {
    .present {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px; }
      .present::before {
        top: 133px;
        left: 120px;
        margin-left: 0; } }
  @media (min-width: 1280px) {
    .present {
      width: 245px;
      padding: 0;
      margin: 0;
      align-self: end; }
      .present::before {
        top: 66px;
        left: 50%;
        margin-left: -26px; } }

.present__bg-img {
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: #5eaa2f;
  background-position: top center;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .present__bg-img {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 280px auto; } }
  @media (min-width: 768px) {
    .present__bg-img {
      min-height: 200px;
      background-image: url("../img/gift-photo-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .present__bg-img {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto; } }
  @media (min-width: 1280px) {
    .present__bg-img {
      min-height: 289px;
      background-image: url("../img/gift-photo-desktop@1x.jpg"); } }
  @media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1280px) and (min-resolution: 144dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
    .present__bg-img {
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      background-size: 245px auto; } }

.present__descr {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 186px;
  padding-right: 55px;
  padding-bottom: 43px;
  padding-left: 55px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .present__descr {
      width: 170px;
      min-height: 140px;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 423px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 0;
      font-size: 16px;
      line-height: 20px;
      text-align: left; } }
  @media (min-width: 1280px) {
    .present__descr {
      min-height: 107px;
      padding-top: 140px;
      padding-right: 38px;
      padding-left: 37px;
      padding-bottom: 42px;
      text-align: center;
      justify-content: flex-end; } }

.form {
  padding-bottom: 8px; }

.form__wrapper {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 24px; }
  .form__wrapper--no-pt {
    padding-top: 0; }
  .form__wrapper--no-pb {
    padding-bottom: 0; }
  @media (min-width: 768px) {
    .form__wrapper {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 57px;
      padding-bottom: 57px; }
      .form__wrapper--no-pt {
        padding-top: 0; }
      .form__wrapper--no-pb {
        padding-bottom: 0; }
      .form__wrapper--submit {
        padding-top: 43px;
        padding-bottom: 63px; } }
  @media (min-width: 1280px) {
    .form__wrapper {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px; }
      .form__wrapper--2columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
      .form__wrapper--2columns .form__input-wrapper {
        width: 568px;
        padding-bottom: 0; }
      .form__wrapper--submit {
        padding-top: 51px;
        padding-bottom: 56px; } }

.form__bordered-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .form__bordered-wrapper {
      border: none; } }

@media (min-width: 768px) {
  .form__bordered-wrapper .form__wrapper {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (min-width: 1280px) {
  .form__container {
    width: 1220px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; } }

.form__container .form__wrapper {
  width: 568px;
  margin: 0;
  padding: 0; }

.form__anons {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 36px; }
  @media (min-width: 768px) {
    .form__anons {
      padding-right: 344px;
      padding-bottom: 66px;
      padding-left: 40px;
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1280px) {
    .form__anons {
      padding-left: 0;
      padding-right: 240px; } }

.form__filters-group {
  width: 100%;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px; }
  .form__filters-group--additional .form__wrapper {
    padding-top: 35px; }
  @media (min-width: 768px) {
    .form__filters-group {
      width: auto;
      font-size: 20px;
      line-height: 20px; }
      .form__filters-group--square {
        margin-left: 40px;
        margin-right: 38px;
        padding-top: 24px;
        padding-right: 30px;
        padding-bottom: 24px;
        padding-left: 28px;
        border: 1px solid #e7e7e7; }
      .form__filters-group--additional .form__wrapper {
        padding-top: 38px; } }
  @media (min-width: 1280px) {
    .form__filters-group--square {
      margin-top: 126px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 25px;
      padding-left: 28px;
      padding-bottom: 24px;
      padding-right: 25px; }
    .form__filters-group--additional .form__wrapper {
      padding-top: 31px; } }

.form__filters-group input[type="text"],
.form__filters-group input[type="email"],
.form__filters-group input[type="tel"],
.form__filters-group textarea {
  box-sizing: border-box; }

.form__hr::before {
  content: "";
  position: absolute;
  right: 0;
  top: 42px;
  width: 50%;
  height: 2px;
  background-color: #68b738;
  z-index: -100; }

@media (min-width: 768px) {
  .form__hr::before {
    width: 100%;
    top: 82px; } }

@media (min-width: 1280px) {
  .form__hr::before {
    top: 92px; } }

.form__input-wrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: baseline;
  padding-bottom: 13px; }
  .form__input-wrapper:last-of-type {
    padding-bottom: 0; }
  @media (min-width: 768px) {
    .form__input-wrapper {
      margin-left: 40px;
      margin-right: 38px;
      padding-bottom: 20px; } }
  @media (min-width: 1280px) {
    .form__input-wrapper {
      margin-left: 0;
      margin-right: 0; } }

.form__input-wrapper svg {
  position: absolute;
  top: 14px;
  right: 12px; }
  @media (min-width: 768px) {
    .form__input-wrapper svg svg {
      top: 17px;
      right: 15px; } }

.form__label {
  padding-right: 12px; }
  @media (min-width: 768px) {
    .form__label {
      padding-right: 17px; } }

.form__input {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 9px; }
  .form__input--with-icon {
    padding-right: 35px; }
  .form__input[placeholder] {
    font-family: "Oswald", arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
  .form__input:hover {
    border-color: #cdcdcd; }
  .form__input:active, .form__input:focus {
    border-color: #444444; }
  .form__input--invalid {
    border-color: #ff8282; }
  @media (min-width: 768px) {
    .form__input {
      padding-top: 10px;
      padding-bottom: 10px; }
      .form__input[placeholder] {
        font-size: 20px; } }

.form__input:active + svg,
.form__input:focus + svg {
  fill: #68b738; }

.form__input--invalid + svg {
  fill: #ff8282; }

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .form__list {
      padding-left: 0; }
      .form__list--columns {
        padding-left: 40px;
        display: grid;
        grid-template-columns: 282px 282px;
        -moz-column-gap: 62px;
             column-gap: 62px;
        row-gap: 20px; } }
  @media (min-width: 1280px) {
    .form__list--columns {
      grid-template-columns: 221px 221px 221px 221px;
      -moz-column-gap: 104px;
           column-gap: 104px;
      padding-left: 0; } }

.form__option {
  padding-bottom: 25px; }
  .form__option:last-of-type {
    padding-bottom: 0; }
  @media (min-width: 768px) {
    .form__option {
      padding-top: 10px;
      padding-left: 59px;
      padding-bottom: 10px;
      margin-bottom: 13px; }
      .form__option:last-of-type {
        padding-bottom: 10px;
        margin-bottom: 0; } }

.form__legend {
  display: block;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .form__legend {
      width: 708px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1280px) {
    .form__legend {
      width: 1220px;
      padding-right: 30px;
      padding-left: 30px; } }

.form__legend-text {
  display: inline-block;
  max-width: 190px;
  padding-top: 26px;
  padding-right: 11px;
  padding-bottom: 6px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: #ffffff; }
  .form__legend-text--no-pt {
    padding-top: 0; }
  @media (min-width: 768px) {
    .form__legend-text {
      max-width: 100%;
      font-size: 36px;
      line-height: 36px;
      padding-top: 62px;
      padding-bottom: 19px;
      padding-right: 42px;
      padding-left: 40px; } }
  @media (min-width: 1280px) {
    .form__legend-text {
      margin-left: -40px;
      padding-top: 69px; } }

.form__field-message {
  width: 280px;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  resize: none; }
  .form__field-message[placeholder] {
    font-family: "Oswald", arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
  .form__field-message:hover {
    border-color: #cdcdcd; }
  .form__field-message:active, .form__field-message:focus {
    border-color: #444444; }
  @media (min-width: 768px) {
    .form__field-message {
      margin-left: 40px;
      width: 632px;
      height: 174px;
      padding-top: 16px;
      padding-left: 17px; }
      .form__field-message[placeholder] {
        font-size: 20px; } }
  @media (min-width: 1280px) {
    .form__field-message {
      margin-left: 0;
      width: 1220px; } }

.form__submit {
  padding-top: 12px; }
  @media (min-width: 768px) {
    .form__submit {
      padding-top: 0;
      margin-left: 40px;
      display: grid;
      grid-template-columns: 282px 288px;
      -moz-column-gap: 61px;
           column-gap: 61px; } }
  @media (min-width: 1280px) {
    .form__submit {
      padding-top: 0;
      padding-bottom: 17px;
      margin-left: 0;
      grid-template-columns: 568px 1fr;
      -moz-column-gap: 81px;
           column-gap: 81px;
      align-items: baseline; } }

.form__send {
  font-size: 16px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .form__send {
      font-size: 20px;
      padding-top: 15px;
      padding-bottom: 17px; } }

.form__info-required {
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-align: center;
  padding-top: 16px; }
  @media (min-width: 768px) {
    .form__info-required {
      font-size: 16px;
      text-align: left;
      padding-top: 11px; } }
  @media (min-width: 1280px) {
    .form__info-required {
      padding-top: 0; } }

.form__radio {
  position: relative; }
  .form__radio:focus, .form__radio:active {
    opacity: 0.3; }
  .form__radio::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: -45px;
    top: -4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd; }
  .form__radio:hover::after {
    box-shadow: 0 0 0 1px #bababa; }
  .form__radio:active::after {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .form__radio::after {
      width: 16px;
      height: 16px;
      border: 11px solid #ffffff;
      left: -58px; } }

input[type="radio"]:checked + .form__radio::after {
  background-color: #68b738; }

input[type="radio"]:focus + .form__radio::after {
  opacity: 0.3; }

.form__checkbox {
  position: relative; }
  .form__checkbox:focus, .form__checkbox:active {
    color: rgba(0, 0, 0, 0.3); }
  .form__checkbox::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: -2px;
    left: -45px;
    border: 1px solid #cdcdcd; }
  .form__checkbox:hover::before {
    border-color: #bababa; }
  .form__checkbox:active::before {
    border-color: rgba(205, 205, 205, 0.3); }
  .form__checkbox::after {
    content: "";
    display: none;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 4px;
    left: -39px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-tick.svg"); }
  @media (min-width: 768px) {
    .form__checkbox::before {
      width: 38px;
      height: 38px;
      left: -59px; }
    .form__checkbox::after {
      top: 10px;
      left: -48px; } }

input[type="checkbox"]:checked + .form__checkbox::after {
  display: block; }

input[type="checkbox"]:focus + .form__checkbox::before {
  border-color: rgba(205, 205, 205, 0.3); }

/*# sourceMappingURL=style.css.map */
