@mixin content-text($fsize: 14px, $lheight: 18px) {
  font-family: $font-text;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: 400;
  color: $color-special-dark-grey;
}

@mixin mobile-wrapper {
  width: $mobile-content-width;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
  margin: 0 auto;
}

@mixin tablet-wrapper {
  width: $tablet-content-width;
  padding-right: $tablet-padding;
  padding-left: $tablet-padding;
}

@mixin desktop-wrapper {
  width: $desktop-content-width;
  padding-right: $desktop-padding;
  padding-left: $desktop-padding;
}
