/*Шрифты*/
$font-basic: "Oswald", arial, sans-serif;
$font-text: arial, sans-serif;

/*Цвета*/
$color-bg-basic: #ffffff;
$color-basic-grey: #f2f2f2;
$color-special-grey: #cdcdcd;
$color-special-grey2: #ebebeb;
$color-special-grey22: #666666;
$color-special-dark-grey: #444444;
$color-special-dark-grey2: #222222;

$color-accent: #68b738;
$color-error: #ff8282;

$color-basic:#000000;
$color-accent-text: #ffffff;

/*Breakpoints*/
$mobile-width: 320px;
$mobile-content-width: 280px;
$mobile-padding: 20px;

$mobile-width-only: 767px;

$tablet-width: 768px;
$tablet-content-width: 708px;
$tablet-padding: 30px;

$desktop-width: 1280px;
$desktop-content-width: 1220px;
$desktop-padding: 30px;
